{% extends 'layout.html' %}
{% block content %}
<div class="block-content">
    <h1>Admin panel</h1>
    <div class="login">
      
        {%with messages=get_flashed_messages()%}
            {%if messages%}
            {% for message in messages %}
            <div class="alert alert-success">
                {{ message}}
            </div>
            {% endfor %}
            {%endif%}
        {%endwith%}
        <form method="post" action="{{url_for('admin')}}">
            <label for="email">Email: </label>
            <input type="email" name="user">
            <label for="pin">Pin: </label>
            <input type="password" name="pin">
            <button type="submit" class="sub">Login</button>
        </form>
    </div>
</div>

{% endblock content %}